.app-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

.app-main__outer {
  flex: 1;
  flex-direction: column;
  display: flex;
  z-index: 8;
  transition: all .2s;
}

.app-main__inner {
  padding: 6rem 1.5rem 0;
  flex: 1;
}
