<h3>Разделы меню</h3>
<p-table [value]="menu" dataKey="id" [tableStyle]="{ 'min-width': '60rem' }" >

  <ng-template pTemplate="header">
    <tr>
      <th style="width: 5rem"></th>
      <th>Код</th>
      <th>Image</th>
      <th>Код системы</th>
      <th>Наименование системы</th>
      <th>Наименование на рус. </th>
      <th>Наименование на каз. </th>
      <th>Тип меню</th>
      <th>Действие</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-menu let-expanded="expanded">
    <tr>
      <td>
        <p-button type="button" pRipple [pRowToggler]="menu" [text]="true" [rounded]="true" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
      </td>
      <td>{{ menu.code }}</td>
      <td></td>
      <td>{{ menu.price | currency : 'USD' }}</td>
      <td>{{ menu.category }}</td>
      <td></td>
      <td>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-menu>
    <tr>
      <td colspan="7">
        <div class="p-3">
          <p-table [value]="menu.orders" dataKey="id">
            <ng-template pTemplate="header">
    <tr>
    <th>Код</th>
    <th>Image</th>
    <th>Код системы</th>
    <th>Наименование системы</th>
    <th>Наименование на рус. </th>
    <th>Наименование на каз. </th>
    <th>Тип меню</th>
    <th>Действие</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-order>
    <tr>
      <td>{{ order.id }}</td>
      <td>{{ order.customer }}</td>
      <td>{{ order.date }}</td>
      <td>{{ order.amount | currency : 'USD' }}</td>
      <td>

      </td>
      <td><p-button type="button" icon="pi pi-search" /></td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="6">There are no order for this product yet.</td>
    </tr>
  </ng-template>
</p-table>
</div>
</td>
</tr>
</ng-template>
</p-table>
